<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} {% if page.title != empty %}| {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Sebastian Schmidt">

  <meta name="referrer" content="never">
  <meta name="referrer" content="no-referrer">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.social.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.social.twitter }}" />

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  {% if page.og_image %}
  <meta property="og:image" content="{{ site.url }}{{ page.og_image | asset_path }}">
  <meta property="og:image:width" content="{{ assets[page.og_image].width }}" />
  <meta property="og:image:height" content="{{ assets[page.og_image].height }}" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}{% asset_path apple-touch-icon.png %}">
  <meta property="og:image:width" content="{{ assets['apple-touch-icon.png'].width }}" />
  <meta property="og:image:height" content="{{ assets['apple-touch-icon.png'].height }}" />
  {% endif %}

  <base href='{{ site.url }}'>
  <link rel="canonical" href="{{ site.canonical }}{{ page.url | relative_url }}" />
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="{% asset_path apple-touch-icon.png %}">
  <link href="{{ 'feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="{{ site.name }} Last 10 blog posts" />

  {% stylesheet '{{site.blog_theme}}' %}
  <script>{% asset inline.js %}</script>
</head>
