<head>
  {%- include preloads.html %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }}{% if page.title != nil and page.title != empty %} | {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Sebastian Schmidt">
  <meta name="theme-color" content="#fff">

  <meta name="referrer" content="never">
  <meta name="referrer" content="no-referrer">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.social.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.social.twitter }}" />

  <meta property="og:title" content="{{ page.title | default: site.name }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description | default: page.content | markdownify | strip_html | strip_liquid | truncate: 300 }}">
  <meta property="og:site_name" content="{{ site.name }}">
  {%- if page.og_image != nil and page.og_image != empty %}
  <meta property="og:image" content="{{ page.og_image | asset:"@path" }}">
  <meta property="og:image:width" content="{{ assets[page.og_image].width }}" />
  <meta property="og:image:height" content="{{ assets[page.og_image].height }}" />
  {%- else %}
  <meta property="og:image" content="{{ '1.jpg' | asset:"@path" }}">
  <meta property="og:image:width" content="{{ assets['1.jpg'].width }}" />
  <meta property="og:image:height" content="{{ assets['1.jpg'].height }}" />
  {%- endif %}

  <base href='{{ site.url }}'>
  <link rel="canonical" href="{{ site.canonical }}{{ page.url | relative_url }}" />
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png" />
  <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" sizes="16x16 32x32"/>
  <meta name="application-name" content="Sebastian Schmidt"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src publicarray.report-uri.com; font-src 'self'; img-src 'self' https://munin.seby.io; script-src 'self' 'unsafe-inline'; style-src 'unsafe-inline'; manifest-src 'self'; upgrade-insecure-requests; block-all-mixed-content">
  <link href="{{ 'feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="{{ site.name }} Last 25 blog posts" />
  {%- assign stylesheet = {{layout.style|default:"inline"}} %}
  {% asset {{stylesheet}}.scss @inline %}
  {% asset inline.js @inline %}
</head>
