<div style="padding-bottom: calc(({{ include.height }}/{{ include.width }})*100%);position: relative;">
  <a href="{% asset_path '{{ include.path }}' %}" class="fluidbox-trigger">
    {% img '{{ include.path }}' alt:'{{ include.alt }}' style:'position\: absolute' %}
  </a>
</div>
{% comment %}
https://www.codecaptain.io/blog/web-development/responsive-images-and-preventing-page-reflow/474
https://www.perpetual-beta.org/weblog/responsive-images-without-browser-reflow.html
http://caniuse.com/#search=calc
{% endcomment %}
