{% if page.amp == 1 %}
<figure>
  <amp-img
    src="{% asset_path '{{ include.path }}' %}"
    layout="responsive"
    width="{{ assets[include.path].width }}"
    height="{{ assets[include.path].height }}"></amp-img>
  <figcaption>{{ include.alt }}</figcaption>
</figure>
{% else %}
<div class="image-wrapper" style="padding-bottom: calc(({{ assets[include.path].height }}/{{ assets[include.path].width }})*100%);">
  <a href="{% asset_path '{{ include.path }}' %}" class="fluidbox-trigger">
    <img class="image" src="{% asset_path '{{ include.path }}' %}" alt="{{ include.alt }}">
  </a>
</div>
{% endif %}
{% comment %}
http://caniuse.com/#search=calc
{% endcomment %}
