{% if page.amp == 1 %}
<figure>
  <amp-img
    src="{{include.path | asset:"@path" }}"
    layout="responsive"
    width="{{ assets[include.path].dimensions.width }}"
    height="{{ assets[include.path].dimensions.height }}"></amp-img>
  <figcaption>{{ include.alt }}</figcaption>
</figure>
{% else %}
  {% if include.path contains '://' %}
  <div class="image-wrapper {{ include.class }}" style="padding-bottom: calc(({{ include.height }}/{{ include.width }})*100%);">
    <a href="{{include.path}}" class="fluidbox-trigger">
  {% else %}
  <div class="image-wrapper {{ include.class }}" style="padding-bottom: calc(({{ assets[include.path].dimensions.height }}/{{ assets[include.path].dimensions.width }})*100%);">
    <a href="{{include.path | asset:"@path" }}" class="fluidbox-trigger">
  {% endif %}
    {% asset '{{ include.path }}' alt='{{ include.alt }}' class='image' %}
    </a>
</div>
{% endif %}
{% comment %}
http://caniuse.com/#search=calc
{% endcomment %}
