{% javascript script async defer %}

{% if site.ga_analytics %}
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','{{ site.ga_analytics }}','auto');ga('send','pageview')
  </script>
  <script async defer src="https://www.google-analytics.com/analytics.js"></script>
{% endif %}

{% if site.piwik %}
<script>
  var _paq = _paq || [
    ['setDoNotTrack', true], // respect DNT header
    ['trackPageView'],
    ['enableLinkTracking'],
    ['enableHeartBeatTimer'], // measure the time spent on a page
    ['setTrackerUrl',  'https://api-1fd42dc7faf8a065dfc3d4b80ac809ac.seby.io'],
    ['setSiteId', 2],
    ['setApiToken', '{{ site.piwik }}'],
  ];
</script>
<script async defer src="https://cy80zgkh0odynsy9r8br.seby.io/embed.js"></script>
{% endif %}
