<nav class="header-nav">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{{ site.name }}</a>
  <ul class="header-links">
    {%- assign pages_list = site.pages %}
    {%- assign group = 'navigation' %}
    {%- include pages_list.html %}
  </ul>
  <ul class="social-links social-reveal">
    {%- if site.social.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social.twitter }}" title="Twitter">
          <span class="icon-fallback">
            <span class="icon icon-social-twitter" aria-hidden="true"></span>
            <span class="text">Twitter</span>
          </span>
        </a>
      </li>
    {%- endif %}
    {%- if site.social.facebook %}
      <li>
        <a href="https://www.facebook.com/{{ site.social.facebook }}" title="Facebook">
          <span class="icon-fallback">
            <span class="icon icon-social-facebook" aria-hidden="true"></span>
            <span class="text">Facebook</span>
          </span>
        </a>
      </li>
    {%- endif %}
    {%- if site.social.github %}
      <li>
        <a href="https://github.com/{{ site.social.github }}" title="GitHub">
          <span class="icon-fallback">
            <span class="icon icon-social-github" aria-hidden="true"></span>
            <span class="text">Github</span>
          </span>
        </a>
      </li>
    {%- endif %}
    {%- if site.social.dribbble %}
      <li>
        <a href="https://dribbble.com/{{ site.social.dribbble }}" title="Dribbble">
          <span class="icon-fallback">
            <span class="icon icon-social-dribbble-
            p" aria-hidden="true"></span>
            <span class="text">Dribbble</span>
          </span>
        </a>
      </li>
    {%- endif %}
    {%- if site.social.linkedin %}
      <li>
        <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" title="LinkedIn">
          <span class="icon-fallback">
            <span class="icon icon-social-linkedin" aria-hidden="true"></span>
            <span class="text">LinkedIn</span>
          </span>
        </a>
      </li>
    {%- endif %}
    {%- if site.social.keybase %}
      <li>
        <a href="https://keybase.io/{{ site.social.keybase }}" title="Keybase">
          <span class="icon-fallback">
            <span class="icon icon-locked" aria-hidden="true"></span>
            <span class="text">Keybase</span>
          </span>
        </a>
      </li>
    {%- endif %}
    <!-- {%- if site.social.tox %}
      <li>
        <a href="https://toxme.io/u/{{ site.social.tox }}" title="Tox">
          <span class="icon-fallback">
            <span class="icon icon-tox" aria-hidden="true"></span>
            <span class="text">Tox</span>
          </span>
        </a>
      </li>
    {%- endif %} -->
    {%- if site.social.bitcoin %}
      <li>
        <a href="{{ site.social.bitcoin }}" title="Bitcoin">
          <span class="icon-fallback">
            <span class="icon icon-bitcoin" aria-hidden="true"></span>
            <span class="text">Bitcoin</span>
          </span>
        </a>
      </li>
    {%- endif %}
    {%- if site.social.email %}
      <li>
        <a href="mailto:{{ site.social.email }}" title="Email">
          <span class="icon-fallback">
            <span class="icon icon-at" aria-hidden="true"></span>
            <span class="text">Email</span>
          </span>
        </a>
      </li>
    {%- endif %}
    {%- if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" title="RSS">
          <span class="icon-fallback">
            <span class="icon icon-social-rss" aria-hidden="true"></span>
            <span class="text">RSS</span>
          </span>
        </a>
      </li>
    {%- endif %}
  </ul>
</nav>
